        <button (click)="sendMessage()">Click</button>
<p-accordion [multiple]="true">
    <p-accordionTab *ngFor='let watch of watches' [selected]="true"> 
      <header>
        {{watch.WatchName}} <span class="label label-default label-as-badge">{{results.length}}</span>    

      </header>
             <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="col-lg-1">Author</th>
            <th class="col-lg-2">Email</th>
            <th class="col-lg-5">Message</th>
            <th class="col-lg-1">Time Stamp</th>
            <th class="col-lg-3">Sha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let result of results' >
            <td>{{result.Author}}</td>
            <td>{{result.Email}}</td>
            <td>{{result.Message}}</td>
            <td>{{result.Date}}</td>
            <td>{{result.Sha}}</td>
          </tr>
        </tbody>
      </table>
    </p-accordionTab>
</p-accordion>